body {
  background: #b5f9fc none repeat scroll 0% 50%;
  height: 100%;
}
#div_contenaire {
	background: -moz-radial-gradient(center, ellipse cover, rgba(162,247,250,1) 6%, rgba(4,75,155,1) 100%); /* FF3.6+ */

}
#div_login {
  border:  none;
  margin: auto;
  padding: 12px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  font-family: Arial,Helvetica,sans-serif;
  width: 460px;
  background-color: transparent;
  text-align: center;
}
h1 {
  font-family: Broadway;
  text-shadow: #000000 0px 0px 10px;
  color: #cccccc;
}
#div_login h1 {
  text-align: center;
}
fieldset {
  border:  none;
  margin: 24px;
  padding: 0;
}
img {
  border: 2px ridge #226179;
  border-radius: 4px;
}
figure {
  border: 2px groove white;
  padding: 12px;
  width: 136px;
  border-radius: 8px;
  margin: auto;
}
hr {
  border-color: #999999;
  display: none;
}
#div_login label {
  margin: 6px 0;
  display: none;
  float: left;
  width: 112px;
  text-align: right;
  color: #666666;
}
#div_login label:after {
  content: " : ";
}
input {
  border-style: dotted;
  border-color: white;
  margin: 4px;
  font-size: 1em;
  width: 240px;
  padding-left: 2px;
}
input[type="mail"] {
  border-style: dotted;
  border-color: white;
  margin: 4px;
  font-size: 1em;
  width: 240px;
  padding-left: 2px;
}
#bt_connect:before {
  background-color: #666666;
  background-image: url(./images/right_arrow.png);
  background-position:  center center;
  background-repeat: no-repeat;
  content: "";
  height: 20px;
  margin-top: -9px;
  position: absolute;
  right: 24px;
  top: 50%;
  width: 20px;
}
button {
  padding: 10px 50px 10px 20px;
  background-color: #aaaaaa;
  color: #333333;
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  position: relative;
  text-decoration: none;
  left: 260px;
}
button:hover {
  top: 3px;
}
#bt_connect:hover:before {
  margin-top: -12px;
  top: 50%;
}
#form_log p {
  background: transparent url(./images/ajax-loader.gif) no-repeat scroll center;
  color: #999999;
  text-align: center;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
  font-size: 0.9em;
  text-shadow: #ffffff 1px 1px 4px;
}
